.clearfix {
	zoom: 1;
}
.rt-image-uploader {
	position: relative;
}
.rt-image-uploader.active .has-image {
	display: block;
}

.rt-image-uploader .has-image {
	display: none;
	float: left;
	position: relative;
	max-width: 100%;
}

.rt-image-uploader .hover {
	position: absolute;
	top: -11px;
	right: -11px;
	-webkit-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	-moz-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	-o-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	visibility: hidden;
	opacity: 0;
}

.bl {
	padding: 0;
	margin: 0;
	list-style: none;
	display: block;
	position: relative;
}

.bl > li {
	display: block;
	margin: 0;
	padding: 0;
	float: none;
}

.rt-image-uploader .hover {
	position: absolute;
	top: -11px;
	right: -11px;
	-webkit-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	-moz-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	-o-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	visibility: hidden;
	opacity: 0;
}

.rt-image-uploader .has-image:hover .hover {
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	visibility: visible;
	opacity: 1;
}

.rt-image-uploader .hover ul {
	display: block;
	margin: 0;
	padding: 0;
}

.rt-image-uploader .hover ul li {
	margin: 0 0 5px 0;
}

.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	font-size: 0;
	line-height: 0;
}

.rt-button-add, .rt-button-remove, .rt-button-edit, .rt-button-delete {
	background: url(../images/graphyicons-sprite.png) -16px -116px no-repeat #fff;
	display: block;
	height: 18px;
	width: 18px;
	border-radius: 9px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.rt-button-edit, .rt-button-delete {
	width: 22px;
	height: 22px;
	border-radius: 11px;
}

.rt-button-delete {
	background-position: -64px -214px;
}

.rt-button-delete:hover {
	background-position: -64px -264px;
}

.rt-button-edit {
	background-position: -14px -214px;
}

.rt-button-edit:hover {
	background-position: -14px -264px;
}

.rt-image-uploader img {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	width: 100%;
	height: auto;
	display: block;
	min-width: 30px;
	min-height: 30px;
	background: #f1f1f1;
	margin: 0 0 0 2px;
}

.rt-image-uploader img {
	width: auto;
	max-width: 100%;
}

.rt-image-uploader .no-image {
	display: block;
	float: left;
	position: relative;
	max-width: 100%;
}

.rt-image-uploader.active .no-image {
	display: none;
}

.rt-image-uploader .no-image p {
	display: block;
	margin: 0 !important;
}

.rt-image-uploader input.button {
	width: auto;
}

.repeater > table {
	margin: 0 0 8px;
}

table.rt-input-table > tbody > tr {
	background: #fff;
}

table.rt-input-table > tbody > tr > td {
	background: transparent;
	border: 0 none;
	border-top: 1px solid #ededed;
	border-right: 1px solid #ededed;
	padding: 8px;
	position: relative;
}

table.rt-input-table > tbody > tr > td {
	background: transparent;
	border: 0 none;
	border-top: 1px solid #ededed;
	border-right: 1px solid #ededed;
	padding: 8px;
	position: relative;
}

.tabs .widefat th, .tabs .widefat td {
	overflow: visible;
}

table.rt-input-table.row_layout > tbody > tr > td {
	border-top-color: #DFDFDF;
}

table.rt-input-table > tbody > tr:first-child > td {
	border-top: 0 none;
}

.repeater > table > thead > tr > th.order, .repeater > table > tbody > tr > td.order {
	width: 16px !important;
	text-align: center !important;
	vertical-align: middle;
	color: #aaa;
	text-shadow: #fff 0 1px 0;
	cursor: move;
}

.repeater > table > tbody > tr > td.order {
	border-right-color: #E1E1E1;
	background: #f4f4f4;
}

table.rt_input tbody tr td.label {
	width: 24%;
	vertical-align: top;
	background: #F9F9F9;
	border-top: 1px solid #f0f0f0;
	border-right: 1px solid #E1E1E1;
}

table.rt_input > tbody > tr:first-child > td, table.rt_input > tbody > tr:first-child > td.label {
	border-top: 0 none;
}

table.rt_input tbody tr td.label label {
	display: block;
	font-size: 13px;
	line-height: 1.4em;
	font-weight: bold;
	padding: 0;
	margin: 0 0 3px;
	color: #333;
}

table.rt_input tbody tr td {
	padding: 13px 15px;
	border-top: 1px solid #f5f5f5;
	border-bottom: 0 none;
}

.tabs input {
	height: 27px;
}

table.rt_input input[type="text"]:focus, table.rt_input textarea:focus, table.rt_input select:focus {
	border-color: #98B6CB;
}

table.rt-input-table > tbody > tr > td:last-child {
	border-right: 0 none;
}

.repeater > table > tbody > tr > td.remove {
	background: #F9F9F9;
}

.repeater > table > thead > tr > th.remove, .repeater > table > tbody > tr > td.remove {
	width: 16px !important;
	vertical-align: middle;
}

.repeater > table > tbody > tr > td.remove > a.rt-button-add, .repeater > table > tbody > tr > td.remove > a.rt-button-remove {
	position: absolute;
	-webkit-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	-moz-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	-o-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	visibility: hidden;
	opacity: 0;
}

.repeater > table > tbody > tr:hover > td.remove > a.rt-button-add, .repeater > table > tbody > tr:hover > td.remove > a.rt-button-remove {
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	visibility: visible;
	opacity: 1;
}

.rt-button-remove:hover {
	background-position: -66px -166px;
}

.rt-button-remove {
	background-position: -66px -116px;
}

.rt-button-add:hover {
	background-position: -16px -166px;
}

.field_type-repeater .row-clone {
	display: none;
}

.rt-remove-item {
	-webkit-transition: all 0.4s 0s ease-in-out;
	-moz-transition: all 0.4s 0s ease-in-out;
	-o-transition: all 0.4s 0s ease-in-out;
	transition: all 0.4s 0s ease-in-out;
	-webkit-transform: translate(25px, 0px);
	-moz-transform: translate(25px, 0px);
	-o-transform: translate(25px, 0px);
	transform: translate(25px, 0px);
	opacity: 0;
}
